@forward "primary";
@forward "secondary";
@forward "success";
@forward "neutral";
@forward "warning";
@forward "error";
@forward "gray";
@forward "gradients";

$dark: #000;
$light: #fff;
$bg-light: #f6f6f6;
